body{
    background-color: azure;
    font-family: 'Xanh Mono', monospace;
    padding: 50px;
}

h1{
    font-size: 60px;
    font-style: italic;
    color:midnightblue
}

h3 {
    font-size: 32px;
}